@media screen and (max-width: 850px) {
  /* only apply this css if the screen is less than 850px wide */
}
@media screen and (min-width: 850px) {
  /* only apply this css if the screen is more than 850px wide */
}

body,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 5px;
}

header{
   background-image: url(../background.blank.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 1px;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: darkblue;
    font-size: 31px;
    padding:  2px solid #fff;
    border: 1px solid transparent;
    border-color: black;
    column-width: auto;
    transition: 0.3s ease;
}

ul li a:hover{
    background-color: hotpink;
    color: darkblue;
}

}

ul li.active a{
    background-color: : ##0039e6;
    color: #000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

article {
  grid-template-columns: 10px 50px 100px;
  grid-template-rows: 80px 8px; 
  
}

h4{
    font-size: 300px;
}


.grid-container{
    color:#0039e6;
    position: absolute;
    top: 30px;
    left: 10px;
}

h1{
    position: absolute;
    position: center;
    left: 160px;
    top: 70px;
}