@media screen and (max-width: 850px) {
  /* only apply this css if the screen is less than 850px wide */
}
@media screen and (min-width: 850px) {
  /* only apply this css if the screen is more than 850px wide */
}



body,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body,h1 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

header{
   background-image: url(../background.blank.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 1px;
}

h1{
    padding: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #062e80;
    box-shadow: 40px, #062e80;
    color: white;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 210px;
    left:55px;
}

article{
    font-size: 15px;
    color: #0039e6;
    padding: 2px;
    border: 1px;
    border color: black;
    position: absolute;
    text-align: center;
    top: 290px;
    left: 50px;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: darkblue;
    font-size: 31px;
    padding:  2px solid #fff;
    border: 1px solid transparent;
    border-color: black;
    column-width: auto;
    transition: 0.3s ease;
}

ul li a:hover{
    background-color: hotpink;
    color: darkblue;
}

}

ul li.active a{
    background-color: : #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

