@media screen and (max-width: 850px) {
  /* only apply this css if the screen is less than 850px wide */
}
@media screen and (min-width: 850px) {
  /* only apply this css if the screen is more than 850px wide */
}

{
    
    margin: 0;
    padding: 0;
    font-family: inherit;
}

header{
   background-image: url(../background.blank.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 1px;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: darkblue;
    font-size: 31px;
    padding:  2px solid #fff;
    border: 1px solid transparent;
    border-color: black;
    column-width: auto;
    transition: 0.3s ease;
}

ul li a:hover{
    background-color: hotpink;
    color: darkblue;
}

article {absolute;visibility: visible:visible;left:20px;top:100px;height:10px;width: 400px;z-index: 500;}

ul li.active a{
    background-color: : #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}



.main{
    max-width: 1200px;
    margin: auto;
}

article{
    position: absolute;
    left: 190;
    top: 15px;
    
}